<h1>餐廳分類後台</h1>
{{> admin-tabs route="categories"}}
<br/>
{{!-- 編輯category沒有新增hbs檔案，直接在categories.hbs檔案中編輯，
所以在按下其中某個category的edit的時候就會得到category(req.params.id)的資料,
一次判斷是否顯示編輯的input --}}
{{#if category}}
<form class="row" action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
  <div class="col-auto">
    <input class="form-control" type="text" placeholder="name" name="categoryName" value="{{category.name}}">
  </div>
  <div class="col-auto">
    <button class="btn btn-warning" type="submit">Update</button>
    <a class="btn btn-link link-secondary" href="/admin/categories">or Create New</a>
  </div>
</form>
{{!-- 若無接收到req.params.id，則顯示新增category的input --}}
{{else}}
<form class="row" action="/admin/categories" method="POST">
  <div class="col-auto">
    <input class="form-control" type="text" placeholder="Category Name" name="categoryName">
  </div>
  <div class="col-auto">
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>
{{/if}}
<br/>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
      </td>
      <td>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>