<h1>使用者後台</h1>
{{> admin-tabs route="users"}}
</br>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        <form action="/admin/users/{{this.id}}/patchUser?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm('確定要更改 {{ this.name }} 成' + ({{ this.isAdmin }} === 0 ? 'Admin' : 'User') + '嗎？')">
            {{#if this.isAdmin}}
            set as admin
            {{else}}
            set as user
            {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

